frontend/scooter/node_modules
frontend/scooter/package.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

frontend/scooter/.pnp
frontend/scooter/.pnp.js

# testing
/coverage

# production
frontend/scooter/build

# misc
frontend/scooter/.DS_Store
frontend/scooter/.env.local
frontend/scooter/.env.development.local
frontend/scooter/.env.test.local
frontend/scooter/.env.production.local

frontend/scooter/npm-debug.log*
frontend/scooter/yarn-debug.log*
frontend/scooter/yarn-error.log*
